@model eMAS.TerrenosComodatos.Domain.DTOs.TramiteEditViewModel

<div class="tramite-cabecera-1 tab-content-form form-general">
    <div class="form-group row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <label for="anioEdit">A&ntilde;o</label>
            <input type="text" readonly class="form-control" id="anioEdit" value="@Model.anio">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <label for="secuenciaEdit">Secuencia</label>
            <input type="text" readonly class="form-control" id="secuenciaEdit" value="@Model.secuencia">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row ctrl-codigo-catastral">
                <div class="col-6 col-sm-6 col-md-6 col-lg-2">
                    <label class="mx-1">Sector</label>
                    <input type="number" min="0" max="99" class="form-control mx-1" id="sectorEdit" value="@Model.idsector">
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-2">
                    <label class="mx-1">Manzana</label>
                    <input type="number" min="0" max="9999" class="form-control mx-1" id="manzanaEdit" value="@Model.manzana">
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-2">
                    <label class="mx-1">Solar</label>
                    <input type="number" min="0" max="999" class="form-control mx-1" id="loteEdit" value="@Model.lote">
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-2">
                    <label class="mx-1">Divisi&oacute;n</label>
                    <input type="number" min="0" max="99" class="form-control mx-1" id="divisionEdit" value="@Model.division">
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-1">
                    <label class="mx-1">Phv</label>
                    <input type="number" min="0" max="99" class="form-control mx-1" id="phvEdit" value="@Model.phv">
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-1">
                    <label class="mx-1">Phh</label>
                    <input type="number" min="0" max="99" class="form-control mx-1" id="phhEdit" value="@Model.phh">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-2">
                    <label class="mx-1">N&uacute;mero</label>
                    <input type="number" min="0" max="99" class="form-control mx-1" id="numeroEdit" value="@Model.numero">
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <label for="beneficiarioEdit">Nombre Beneficiario</label>
            <select id="beneficiarioEdit" class="form-control ctrl-select">
            </select>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <label for="representanteLegalEdit">Representante Legal</label>
            <input type="text" readonly class="form-control" id="representanteLegalEdit">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <label for="tipoContratoEdit">Tipo de Contrato</label>
            <select id="tipoContratoEdit" class="form-control ctrl-select">
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <label for="oficioAgEdit">Oficio Ag</label>
            <input type="text" class="form-control text-control" maxlength="100" id="oficioAgEdit" value="@Model.oficioag">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <label for="oficioDaseEdit">Oficio Dase</label>
            <input type="text" class="form-control text-control" maxlength="100" id="oficioDaseEdit" value="@Model.oficiodase">
        </div>
    </div>
</div>
