@model eMAS.TerrenosComodatos.Domain.DTOs.OficioTramiteEditViewModel

<div class="form-detail-content-edit">
    <div class="container-detail-form form-general">
        <input id="IdOficioTramite" class="idelemento" type="hidden" value="@Model.idoficiootrasdirecciones" />
        <input id="IdDireccionDetail" class="idelemento" type="hidden" value="@Model.iddireccion" />
        <div class="form-group row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <label for="direcciondetail">Direcci&oacute;n</label>
                <select id="direcciondetail" class="form-control ctrl-select"></select>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <label for="secuencia">Secuencia</label>
                <input id="secuencia" type="text" disabled class="form-control" value="@Model.secuencia" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <label for="oficioDetail">Oficio</label>
                <textarea id="oficioDetail" class="form-control text-control"
                          maxlength="4000"
                          name="oficioDetail" rows="3">@Model.oficio</textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12" id="fecha-envio-container">
                <label for="fechaEnvioDetail">Fecha Env&iacute;o</label>
                <input id="fechaEnvioDetail"
                       data-date-container='#fecha-envio-container'
                       class="form-control" value="@Model.strfechaenvio" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <label for="oficioRespuestaDetail">Oficio Respuesta</label>
                <textarea id="oficioRespuestaDetail" class="form-control text-control" 
                          maxlength="4000"
                          name="oficioRespuestaDetail" rows="3">@Model.oficiorespuesta</textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12" id="fecha-respuesta-container">
                <label for="fechaRespuestaDetail">Fecha Respuesta</label>
                <input id="fechaRespuestaDetail"
                       data-date-container='#fecha-respuesta-container'
                       class="form-control" value="@Model.strfecharespuesta" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <label class="error-label peligro hidden"></label>
            </div>
        </div>
        @await Html.PartialAsync("_CommandBottomDetail")
    </div>
</div>
